@import 'fonts';
@import 'icons';

$divider: rgba(255, 255, 255, 0.15);

body, html {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
}

* {
  box-sizing: border-box;
  font-family: "Museo Sans", "Open Sans", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

.light {

  transition: all 250ms ease-in;

  &.red {
    border-color: #c10000 !important;

    &.on {
      background: red;
      box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 15px 1px red;
    }
  }
  &.blue {
    border-color: rgb(110, 237, 250) !important;

    &.on {
      background: #6eedfa;
      box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 15px 1px #6eedfa;
    }

  }
  &.green {
    border-color: rgb(105, 180, 48) !important;

    &.on {
      background: rgb(118, 201, 55);
      box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 15px 1px rgb(118, 201, 55);
    }
  }
}

.button {
  background: #E9545A;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  .label {
    line-height: 40px;
    left: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #FFF;
  }
}

.toggle {
  width: 100%;
  background: #515F76;
  border-radius: 30px;
  position: relative;
  .handle {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: #EEE;
    border: 3px solid #515F76;
  }
  .label {
    position: absolute;
    left: 28px;
    right: 0;
    bottom: 0;
    top: 0;
    color: #FFF;
    line-height: 28px;
    font-size: 10px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }
  &.green {
    background: #1DCC6C;
    .handle {
      background: #19AE5D;
      border-color: #1DCC6C;
    }
  }
}

.active {
  font-weight: bold;
}

.flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.flex.vertical {
  margin: -20px 0 0 -20px;
}

.flex > * {
  margin: 0 0 0 20px;
}

.flex.vertical > * {
  margin: 20px 0 0 0;
}

.vertical {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.box {
  flex: auto;
  min-height: 100px;
}

section.left {
  background: rgb(33, 37, 45);
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  bottom: 0;
  z-index: 2;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.05);
  * {
    color: rgb(151, 162, 177);
  }
  .header {
    padding: 30px 20px 31px;
    border-bottom: 1px solid $divider;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    .title {
      font-size: 15px;
      position: relative;
      left: 15px;
      font-weight: 700;
      color: #BAC3D0;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
    }
    .message {
      font-size: 12px;
      position: relative;
      left: 15px;
      color: rgb(151, 162, 177);
    }
  }
  .section-title {
    padding: 20px 0;
    margin-left: 20px;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
    text-transform: uppercase;
    opacity: 0.5;
    font-family: "Open Sans", sans-serif;
  }
  .locks {
    font-weight: 500;
    .device {
      height: 40px;
      width: 100%;
      padding: 10px 20px;
      display: table;
      cursor: pointer;
      &.active {
        background: rgba(0, 0, 0, 0.1);
      }
      .light {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 2px solid red;
        border-radius: 100%;
        vertical-align: middle;
      }
      .name {
        display: inline-block;
        margin-left: 10px;
        font-weight: 600;
        font-size: 16px;
        vertical-align: middle;
        font-family: "Open Sans", sans-serif;
        text-transform: capitalize;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

section.right {
  position: fixed;
  left: 220px;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgb(244, 245, 247);
  .section {
    width: 100%;
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
    .block {
      display: table;
      margin-bottom: 10px;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .title {
      padding-bottom: 3px;
      font-weight: 400;
      font-size: 12px;
      vertical-align: middle;
      text-transform: uppercase;
      opacity: 0.5;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 14px;
      border-bottom: 1px solid #DDD;
      color: #8E8E8E;
      &.inline {
        width: auto;
        vertical-align: middle;
        display: table-cell;
        padding-left: 20px;
        opacity: 1;
        font-weight: 600;
        font-size: 13px;
        border-bottom: none;
        padding-bottom: 0;
        color: #808080;
        text-transform: none;
      }
      &.no-margin {
        margin: 0;
      }
    }
    &.blue {
      background: #64C2DE;
      .title {
        color: #FFF;
        opacity: 0.8;
        border-color: rgba(255, 255, 255, 0.4);
      }
    }
    &.teal {
      background: #45B7AF;
      .title {
        color: #FFF;
        opacity: 0.8;
        border-color: rgba(255, 255, 255, 0.4);
      }
    }
  }
  .banner {
    position: absolute;
    left: 70px;
    right: 0;
    height: 96px;
    top: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #FFF;
    padding: 19px 25px;
    .name {
      font-size: 24px;
      font-weight: normal;
      font-family: "Open Sans", sans-serif;
      color: rgba(90, 102, 120, 0.52);
      text-transform: capitalize;
      .pre {
        font-family: "Open Sans", sans-serif;
        color: #5a6678;
        padding-bottom: 0;
      }
      .cen {
        font-family: "Open Sans", sans-serif;
        color: #5a6678;
        padding-bottom: 0;
        font-weight: bold;
      }
    }
    .last-updated {
      color: rgb(147, 155, 169);
      b {
        font-weight: 900;
      }
    }
  }
  .sidebar {
    background: rgb(45, 51, 61);
    width: 70px;
    height: 100%;
    position: relative;
    .icon {
      color: rgba(255, 255, 255, 0.5);
      display: block;
      width: 100%;
      height: 50px;
      font-size: 25px;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      &:first-child {
        margin-top: 10px;
      }
      &:hover, &.active {
        color: white;
      }
      &.active {
        cursor: default;
      }
      &.bottom {
        position: absolute;
        bottom: 10px;
      }
    }
    .monitor {
      height: 96px;
      width: 100%;
      display: table;
      border-bottom: 1px solid $divider;
      position: relative;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      .light {
        height: 24px;
        width: 24px;
        border: 3px solid #62C5CF;
        position: absolute;
        top: 50%;
        margin: -13px auto 0;
        left: 0;
        right: 0;
        border-radius: 100%;
      }
    }
  }
  .content {
    position: absolute;
    top: 96px;
    left: 70px;
    bottom: 0;
    right: 0;
    .inset {
      overflow: auto;
      height: 100%;
      width: 100%;
      padding: 20px;
      .content-left {
        margin: 0 !important;
      }
      .content-right {
        max-width: 325px;
        @media print, screen and (max-width: 960px) {
          display: none;
        }
        .section {
          .battery {
            padding: 0;
            font-size: 59px;
            text-align: center;
            color: #FFF;
            font-weight: 500;
            font-family: "Open Sans", sans-serif;
            &:after {
              content: '%';
              font-size: 15px;
              position: relative;
              top: -10px;
              opacity: 0.5;
              left: 5px;
              font-family: "Proxima Nova", sans-serif;
            }
          }
          .signal {
            text-align: center;
            color: #FFF;
            font-size: 55px;
            width: 100%;
            line-height: 80px;
          }
          .toggle {
            margin-bottom: 10px;
            &.small {
              width: 70px;
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }
      .filler {
        height: 20px;
      }
    }
  }
  @import 'event-flow';
}