@import 'fonts';
@import 'icons';
@import 'bourbon';

$divider: rgba(255, 255, 255, 0.15);

body, html {
  background: #1d3444;
  margin: 0;
  padding: 0;
  border: none;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

.light {
  opacity: 0.5;
  @include transition(all 250ms ease-in);
  &.red {
    background: #DA3610 !important;
  }
  &.blue {
    background: #00BFDD !important;
  }
  &.green {
    background: #8DCA35 !important;
  }
  &.on {
    opacity: 1 !important;
  }
}

@include keyframes(ripple-animation) {
  from {
    @include transform(scale(1));
    opacity: 0.4;
  }
  to {
    @include transform(scale(100));
    opacity: 0;
  }
}

.button, button {
  border: none;
  outline: none;
  background: #19AAC7;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 14px 12px;
  overflow: hidden;
  position: Relative;
  text-align: center;
  .icon {
    display: inline-block;
    color: #FFF;
    line-height: 45px;
    vertical-align: top;
    font-size: 16px;
  }
  .label {
    left: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #FFF;
    display: inline-block;
  }
  &.small {
    background: #E7ECEE !important;
    padding: 7px 12px !important;
    .label {
      font-size: 11px !important;
      color: #506470 !important;
    }
  }
  &.tiny {
    background: #E7ECEE !important;
    padding: 7px 12px !important;
    .label {
      font-size: 9px !important;
      color: #506470 !important;
    }
  }
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  @include animation(ripple-animation 2s);
}

.toggle {
  width: 80px;
  background: #C6CBCD;
  border-radius: 30px;
  position: relative;
  .handle {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: #A4D412;
    border: 3px solid #FFFFFF;
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
  }
  .label {
    position: absolute;
    left: 28px;
    right: 0;
    bottom: 0;
    top: 0;
    color: #FFF;
    line-height: 28px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.flex.vertical {
  margin: -20px 0 0 -20px;
}

.flex > * {
  margin: 0 0 0 20px;
}

.flex.vertical > * {
  margin: 20px 0 0 0;
}

.vertical {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.box {
  flex: auto;
}

section.left {
  background: #121A20;
  position: fixed;
  top: 130px;
  left: 10px;
  width: 220px;
  bottom: 0;
  z-index: 2;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.05);
  * {
    color: rgb(151, 162, 177);
  }
  .group {
    padding-bottom: 20px;
    .clicker {
      width: 100%;
      height: 45px;
      padding-left: 20px;
      cursor: pointer;
      &.rounded {
        width: 90%;
        margin: 0 auto;
        border-radius: 4px;
        overflow: hidden;
      }
      &.green {
        background: rgb(164, 212, 18);
      }
      &.blue {
        background: #19AAC7;
      }
      .icon {
        display: inline-block;
        color: #FFF;
        line-height: 45px;
        vertical-align: top;
        font-size: 16px;
      }
      .label {
        font-size: 13px;
        color: #FFF;
        display: inline-block;
        vertical-align: top;
        line-height: 45px;
        padding-left: 18px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
  .header {
    padding: 30px 20px 31px;
    &.logo-only {
      background: url(/img/logo.png) 15px 23px no-repeat;
      background-size: 75%;
      height: 90px;
    }
    .title {
      font-size: 15px;
      position: relative;
      left: 15px;
      font-weight: 700;
      color: #BAC3D0;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
    }
    .message {
      font-size: 12px;
      position: relative;
      left: 15px;
      color: rgb(151, 162, 177);
    }
  }
  .section-title {
    padding: 15px 20px;
    margin-left: 0;
    font-weight: 700;
    font-size: 13px;
    vertical-align: middle;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    background: rgb(25, 170, 199);
    margin-bottom: 15px;
  }
  .locks {
    font-weight: 500;
    .device {
      height: 40px;
      width: 100%;
      display: table;
      cursor: pointer;
      padding: 10px 20px 10px 20px;
      .light {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        vertical-align: middle;
      }
      .name {
        display: inline-block;
        margin-left: 10px;
        font-size: 13px;
        vertical-align: middle;
        text-transform: capitalize;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 600;
      }
      &.active {
        background: #2E363C;
        .name {
          color: #FFF;
        }
      }
    }
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

section.right {
  position: fixed;
  left: 230px;
  top: 75px;
  bottom: 0;
  right: 0;
  background: rgb(244, 245, 247);
  z-index: 3;
  @include transition(all 250ms ease-in);
  &.expand {
    left: 0;
  }
  .banner {
    position: absolute;
    left: 70px;
    right: 0;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #e3e3e3;
    background: #f0f3f5;
    padding: 20px;
    .name {
      font-size: 30px;
      font-weight: normal;
      font-family: "Open Sans", sans-serif;
      color: rgba(90, 102, 120, 0.52);
      text-transform: capitalize;
      .pre {
        font-family: "Open Sans", sans-serif;
        color: #5a6678;
        padding-bottom: 0;
      }
      .cen {
        font-family: "Open Sans", sans-serif;
        color: #5a6678;
        padding-bottom: 0;
        font-weight: bold;
      }
    }
    .last-updated {
      color: rgb(147, 155, 169);
      b {
        font-weight: 900;
      }
    }
  }
  .sidebar {
    background: rgba(240, 243, 245, 1);
    width: 70px;
    height: 100%;
    position: relative;
    border-right: 1px solid #E3E3E3;
    .icon {
      color: rgba(107, 116, 118, 0.33);;
      display: block;
      width: 100%;
      height: 60px;
      font-size: 31px;
      line-height: 60px;
      text-align: center;
      cursor: pointer;
      @include transition(all 250ms ease-in);
      &:first-child {
        margin-top: 0;
        padding-top: 13px;
        height: 85px;
      }
      &:hover, &.active {
        color: #19aac7;
      }
      &.active {
        cursor: default;
      }
      &.bottom {
        position: absolute;
        bottom: 0;
      }
    }
    .monitor {
      height: 96px;
      width: 100%;
      display: table;
      position: relative;
      .light {
        height: 24px;
        width: 24px;
        border: 3px solid #62C5CF;
        position: absolute;
        top: 50%;
        margin: -13px auto 0;
        left: 0;
        right: 0;
        border-radius: 100%;
      }
    }
  }
  .content {
    position: absolute;
    top: 82px;
    left: 70px;
    bottom: 0;
    right: 0;
    background: #FFF;
    .inset {
      overflow: auto;
      height: 100%;
      width: 100%;
      padding: 20px 40px;
    }
    .section {
      margin-bottom: 40px;
      h1, h2, h3 {
        text-transform: uppercase;
        font-weight: bold;
      }
      h1 {
        font-size: 19px;
      }
      h2 {
        font-size: 15px;
      }
    }
    .filler {
      height: 20px;
    }
  }
  @import 'list';
  @import 'misc';
}

@import 'account';
@import 'stats-table';
@import 'notification-center';