
.event-flow {
  .event {
    padding-top: 10px;
    padding-bottom: 10px;
    .icon, .info, .image {
      display: inline-block;
      vertical-align: top;
    }
    .info {
      .data-left {
        display: inline-block;
        vertical-align: top;
        .user {
          background: #64c2de;
          color: #FFF;
          font-weight: bold;
          padding: 2px 9px 2px 10px;
          font-size: 10px;
          border-radius: 10px 0 0 10px;
          width: 65px;
          display: inline-block;
          text-transform: uppercase;
          font-family: "Open Sans", sans-serif;
          &.blue {
            background: #64c2de;
          }
          &.green {
            background: rgb(179, 210, 39);
          }
          &.yellow {
            background: rgb(234, 223, 16);
          }
          &.red {
            background: #E9545A;
          }
          &.teal {
            background: #45B794;
          }
        }
        .data-bottom {
          font-size: 10px;
          list-style: none;
          color: #C0C0C0;
          font-weight: 400;
          font-family: "Open Sans", sans-serif;
          position: Relative;
          text-align: center;
          top: 1px;
        }
      }
      .data-right {
        display: inline-block;
        vertical-align: top;
        border-left: 1px solid #DDD;
        padding-left: 4px;
        .data-top {
          font-size: 14px;
          line-height: 1.42857;
          color: #3F3F44;
          .text {
            font-weight: 500;
            font-size: 13px;
            color: #555;
            font-family: "Open Sans", sans-serif;
            &:first-letter {
              text-transform: capitalize;
            }
          }
        }
        .data-bottom {
          font-size: 11px;
          list-style: none;
          color: #C0C0C0;
          font-weight: 400;
          font-family: "Open Sans", sans-serif;
          position: Relative;
        }
      }
    }
  }
}