.icon {
	font-family: 'Fontello', sans-serif;
	font-weight: normal;
	display: inline-block;
	text-align: center;

	$icons:
		"dashboard" ,
		"users" ,
		"emergency" ,
		"events" ,
		"location" ,
		"add" ,
		"menu" ,
        "wifi" ;

	@each $i in $icons{
	  &.#{nth($i, 1)}:before {
	    content: "'" + nth($i, 2) + "'";
	  }
	}
}
