@import 'bourbon';

.lock-user-flow {
  .lock-user-add {
    .section {
      .input-wrap {
        padding: 10px;
        background: #EDF1F2;
        margin: 0;
        border-radius: 4px;
        width: 100%;
        input, .input {
          width: 100%;
          padding: 9px;
          color: #000;
          outline: none;
          border-radius: 4px;
          font-size: 13px;
          font-weight: bold;
          font-family: "Open Sans", sans-serif;
          border: none;
          background: #FFF;
          box-shadow: inset 0 0 0 1px rgba(81, 95, 118, 0.2);
        }
        .description {
          color: #777;
          font-size: 11px;
          padding-top: 10px;
          padding-left: 5px;
        }
      }
      .button {
        min-width: 80px;
        background: #515F76 !important;
        /* fixed */
        margin-left: 10px !important;
        /* height-fix */
        height: 27px !important;
        .label {
          color: #FFF !important;
        }
      }
    }
  }
  .lock-user-view {
    padding-left: 20px;
    margin: 0;
    .section {
      &.user {
        margin-top: 20px;
        padding: 0;
        overflow: hidden;
        .inner-top {
          padding: 20px;
          width: 100%;
          * {
            font-family: "Open Sans", sans-serif;
          }
          .photo {
            height: 50px;
            width: 50px;
            border-radius: 100%;
            display: inline-block;
            vertical-align: top;
            background: url(https://www.drupal.org/files/profile_default.jpg) center center no-repeat;
            background-size: cover;
            margin-right: 20px;
          }
          .button.small {
            float: right;
            min-width: 100px;
          }
          .details {
            display: inline-block;
            vertical-align: top;
            padding-top: 5px;
            .location {
              text-transform: uppercase;
              font-size: 11px;
              color: #939ba9;
            }
            .side {
              .name {
                font-size: 14px;
                font-weight: bold;
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;
                color: #5a6678;
              }
              .tag {
                color: #FFF;
                font-weight: bold;
                padding: 1px 4px 1px 4px;
                font-size: 10px;
                border-radius: 2px;
                margin-right: 4px;
                display: inline-block;
                text-transform: uppercase;
                background: #F4BA4A;
                font-family: "Open Sans", sans-serif;
                vertical-align: top;
                position: relative;
                top: 2px;
              }
            }
          }
        }
        .inner-bottom {
          background: #B6C2C9;
          border-top: 1px solid rgba(57, 67, 73, 0.1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
          .box {
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            color: #FFF;
            display: inline-block;
          }
          .detail {
            padding-right: 0 !important;
            font-size: 11px;
            font-family: "Open Sans", sans-serif;
            @include transition(all 250ms ease-in);
            .icon {
              margin-right: 5px;
              opacity: 0.7;
              font-size: 13px;
              &.phone {
                top: 1px;
                position: relative;
                font-size: 14px;
              }
            }
            span:nth-child(2) {
              font-family: "Open Sans", sans-serif;
              font-size: 0;
              overflow: hidden;
              @include transition(all 250ms ease-in);
            }
            &:hover {
              padding: 0 20px !important;
              span:nth-child(2) {
                width: auto;
                font-size: 11px;
                padding: 0 10px !important;
                cursor: pointer;
              }
            }
          }
          .more {
            background: rgba(255, 255, 255, 0.25);
            float: right;
            max-width: 100px;
            min-width: 100px;
            font-size: 20px;
          }
        }
      }
    }
  }
}