@import 'bourbon';

.stats-table {
  width: 100%;
  padding: 20px 10px;
  background: #F8F9FB;
  border-bottom: 1px solid #E6ECF1;
  .cell {
    border-right: 1px solid #CDD6DF;
    &:last-child {
      border: none;
    }
    .label {
      padding-left: 40px;
      position: relative;
      .icon {
        color: #18A9C3;
        position: absolute;
        top: 5px;
        left: 0;
        font-size: 20px;
      }
      .text {
        color: #555;
        text-transform: uppercase;
        font-size: 15px
      }
      .desc {
        color: rgb(153, 153, 153);
        font-size: 12px;
      }
    }
    .value {
      color: #59676C;
      font-size: 40px;
      font-weight: 100;
      padding: 5px 0;
    }
  }
}