doctype html
html
    style.
        * {
            font-family: "Consolas", "Monaco", "Source Code Pro", monospace;
        }
    h1 #{message}
    h2 Status: #{status}
    pre
        code #{stack}