@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/museo-sans-rounded-300.eot');
  src: url('/fonts/museo-sans-rounded-300.eot?#iefix') format('embedded-opentype'), url('/fonts/museo-sans-rounded-300.woff') format('woff'), url('/fonts/museo-sans-rounded-300.ttf') format('truetype'), url('/fonts/museo-sans-rounded-300.svg#museo_sans_rounded500') format('svg');
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/museo-sans-rounded-500.eot');
  src: url('/fonts/museo-sans-rounded-500.eot?#iefix') format('embedded-opentype'), url('/fonts/museo-sans-rounded-500.woff') format('woff'), url('/fonts/museo-sans-rounded-500.ttf') format('truetype'), url('/fonts/museo-sans-rounded-500.svg#museo_sans_rounded500') format('svg');
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/museo-sans-rounded-700.eot');
  src: url('/fonts/museo-sans-rounded-700.eot?#iefix') format('embedded-opentype'), url('/fonts/museo-sans-rounded-700.woff') format('woff'), url('/fonts/museo-sans-rounded-700.ttf') format('truetype'), url('/fonts/museo-sans-rounded-700.svg#museo_sans_rounded500') format('svg');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/museo-sans-rounded-900.eot');
  src: url('/fonts/museo-sans-rounded-900.eot?#iefix') format('embedded-opentype'), url('/fonts/museo-sans-rounded-900.woff') format('woff'), url('/fonts/museo-sans-rounded-900.ttf') format('truetype'), url('/fonts/museo-sans-rounded-900.svg#museo_sans_rounded500') format('svg');
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Fontello';
  src: url('/fonts/fontello.eot');
  src: url('/fonts/fontello.eot?#iefix') format('embedded-opentype'), url('/fonts/fontello.woff') format('woff'), url('/fonts/fontello.ttf') format('truetype'), url('/fonts/fontello.svg#font.familynameregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova-thin-webfont.eot');
  src: url('/fonts/proxima-nova-thin-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/proxima-nova-thin-webfont.woff') format('woff'), url('/fonts/proxima-nova-thin-webfont.ttf') format('truetype'), url('/fonts/proxima-nova-thin-webfont.svg#proxima_nova_ththin') format('svg');
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova-regular-webfont.eot');
  src: url('/fonts/proxima-nova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/proxima-nova-regular-webfont.woff') format('woff'), url('/fonts/proxima-nova-regular-webfont.ttf') format('truetype'), url('/fonts/proxima-nova-regular-webfont.svg#proxima_novaregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova-semibold-webfont.eot');
  src: url('/fonts/proxima-nova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/proxima-nova-semibold-webfont.woff') format('woff'), url('/fonts/proxima-nova-semibold-webfont.ttf') format('truetype'), url('/fonts/proxima-nova-semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Glasglow';
  src: url('/fonts/glasgow_regular.eot');
  src: url('/fonts/glasgow_regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glasgow_regular.woff2') format('woff2'), url('/fonts/glasgow_regular.woff') format('woff'), url('/fonts/glasgow_regular.ttf') format('truetype'), url('/fonts/glasgow_regular.svg#glasgowregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Glasglow';
  src: url('/fonts/glasgow-xlight.eot');
  src: url('/fonts/glasgow-xlight.eot?#iefix') format('embedded-opentype'), url('/fonts/glasgow-xlight.woff2') format('woff2'), url('/fonts/glasgow-xlight.woff') format('woff'), url('/fonts/glasgow-xlight.ttf') format('truetype'), url('/fonts/glasgow-xlight.svg#glasgow-xlightregular') format('svg');
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Glasglow';
  src: url('/fonts/glasgow-light.eot');
  src: url('/fonts/glasgow-light.eot?#iefix') format('embedded-opentype'), url('/fonts/glasgow-light.woff2') format('woff2'), url('/fonts/glasgow-light.woff') format('woff'), url('/fonts/glasgow-light.ttf') format('truetype'), url('/fonts/glasgow-light.svg#glasgow-lightregular') format('svg');
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Glasglow';
  src: url('/fonts/glasgow_bold.eot');
  src: url('/fonts/glasgow_bold.eot?#iefix') format('embedded-opentype'), url('/fonts/glasgow_bold.woff2') format('woff2'), url('/fonts/glasgow_bold.woff') format('woff'), url('/fonts/glasgow_bold.ttf') format('truetype'), url('/fonts/glasgow_bold.svg#glasgowbold') format('svg');
  font-weight: bold;
  font-style: normal; }

.icon {
  font-family: 'Fontello', sans-serif !important;
  font-weight: normal;
  display: inline-block;
  text-align: center; }
  .icon.dashboard:before {
    content: ''; }
  .icon.users:before {
    content: ''; }
  .icon.emergency:before {
    content: ''; }
  .icon.events:before {
    content: ''; }
  .icon.location:before {
    content: ''; }
  .icon.add:before {
    content: ''; }
  .icon.menu:before {
    content: ''; }
  .icon.menu-dot-horizontal:before {
    content: ''; }
  .icon.wifi:before {
    content: ''; }
  .icon.lock:before {
    content: ''; }
  .icon.unlock:before {
    content: ''; }
  .icon.system:before {
    content: ''; }
  .icon.battery:before {
    content: ''; }
  .icon.share:before {
    content: ''; }
  .icon.unshare:before {
    content: ''; }
  .icon.geofence:before {
    content: ''; }
  .icon.email:before {
    content: ''; }
  .icon.phone:before {
    content: ''; }
  .icon.clock:before {
    content: ''; }
  .icon.plus:before {
    content: ''; }
  .icon.menu-dot:before {
    content: ''; }

body, html {
  background: #1d3444;
  margin: 0;
  padding: 0;
  border: none; }

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased; }

.light {
  opacity: 0.5;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  transition: all 250ms ease-in; }
  .light.red {
    background: #DA3610 !important; }
  .light.blue {
    background: #00BFDD !important; }
  .light.green {
    background: #8DCA35 !important; }
  .light.on {
    opacity: 1 !important; }

@-webkit-keyframes ripple-animation {
  from {
    -webkit-transform: scale(1);
    opacity: 0.4; }

  to {
    -webkit-transform: scale(100);
    opacity: 0; } }

@-moz-keyframes ripple-animation {
  from {
    -moz-transform: scale(1);
    opacity: 0.4; }

  to {
    -moz-transform: scale(100);
    opacity: 0; } }

@keyframes ripple-animation {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0.4; }

  to {
    -webkit-transform: scale(100);
    -moz-transform: scale(100);
    -ms-transform: scale(100);
    -o-transform: scale(100);
    transform: scale(100);
    opacity: 0; } }

.button, button {
  border: none;
  outline: none;
  background: #19AAC7;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 14px 12px;
  overflow: hidden;
  position: Relative;
  text-align: center;
  cursor: pointer; }
  .button .icon, button .icon {
    display: inline-block;
    color: #FFF;
    line-height: 45px;
    vertical-align: top;
    font-size: 16px; }
  .button .label, button .label {
    left: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #FFF;
    display: inline-block; }
  .button.small, button.small {
    background: #E7ECEE !important;
    padding: 7px 12px !important; }
    .button.small .label, button.small .label {
      font-size: 11px !important;
      color: #506470 !important; }
  .button.tiny, button.tiny {
    background: #E7ECEE !important;
    padding: 7px 12px !important; }
    .button.tiny .label, button.tiny .label {
      font-size: 9px !important;
      color: #506470 !important; }

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  -webkit-animation: ripple-animation 2s;
  -moz-animation: ripple-animation 2s;
  animation: ripple-animation 2s; }

.toggle {
  width: 80px;
  background: #C6CBCD;
  border-radius: 30px;
  position: relative; }
  .toggle .handle {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: #A4D412;
    border: 3px solid #FFFFFF;
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2); }
  .toggle .label {
    position: absolute;
    left: 28px;
    right: 0;
    bottom: 0;
    top: 0;
    color: #FFF;
    line-height: 28px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; }

.flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

.flex.vertical {
  margin: -20px 0 0 -20px; }

.flex > * {
  margin: 0 0 0 20px; }

.flex.vertical > * {
  margin: 20px 0 0 0; }

.vertical {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.box {
  flex: auto; }

section.left {
  background: #121A20;
  position: fixed;
  top: 130px;
  left: 10px;
  width: 220px;
  bottom: 0;
  z-index: 2;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.05); }
  section.left * {
    color: #97a2b1; }
  section.left .group {
    padding-bottom: 20px; }
    section.left .group .clicker {
      width: 100%;
      height: 45px;
      padding-left: 20px;
      cursor: pointer; }
      section.left .group .clicker.rounded {
        width: 90%;
        margin: 0 auto;
        border-radius: 4px;
        overflow: hidden; }
      section.left .group .clicker.green {
        background: #a4d412; }
      section.left .group .clicker.blue {
        background: #19AAC7; }
      section.left .group .clicker .icon {
        display: inline-block;
        color: #FFF;
        line-height: 45px;
        vertical-align: top;
        font-size: 16px; }
      section.left .group .clicker .label {
        font-size: 13px;
        color: #FFF;
        display: inline-block;
        vertical-align: top;
        line-height: 45px;
        padding-left: 18px;
        font-weight: 600;
        text-transform: uppercase; }
  section.left .header {
    padding: 30px 20px 31px; }
    section.left .header.logo-only {
      background: url(/img/logo.png) 15px 23px no-repeat;
      background-size: 75%;
      height: 90px; }
    section.left .header .title {
      font-size: 15px;
      position: relative;
      left: 15px;
      font-weight: 700;
      color: #BAC3D0;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif; }
    section.left .header .message {
      font-size: 12px;
      position: relative;
      left: 15px;
      color: #97a2b1; }
  section.left .section-title {
    padding: 15px 20px;
    margin-left: 0;
    font-weight: 700;
    font-size: 13px;
    vertical-align: middle;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    background: #19aac7;
    margin-bottom: 15px; }
  section.left .locks {
    font-weight: 500; }
    section.left .locks .device {
      height: 40px;
      width: 100%;
      display: table;
      cursor: pointer;
      padding: 10px 20px 10px 20px; }
      section.left .locks .device .light {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        vertical-align: middle; }
      section.left .locks .device .name {
        display: inline-block;
        margin-left: 10px;
        font-size: 13px;
        vertical-align: middle;
        text-transform: capitalize;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 600; }
      section.left .locks .device.active {
        background: #2E363C; }
        section.left .locks .device.active .name {
          color: #FFF; }

.hidden {
  display: none; }

.visible {
  display: block; }

section.right {
  position: fixed;
  left: 230px;
  top: 75px;
  bottom: 0;
  right: 0;
  background: #f4f5f7;
  z-index: 3;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  transition: all 250ms ease-in; }
  section.right.expand {
    left: 0; }
  section.right .banner {
    position: absolute;
    left: 70px;
    right: 0;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #e3e3e3;
    background: #f0f3f5;
    padding: 20px; }
    section.right .banner .name {
      font-size: 30px;
      font-weight: normal;
      font-family: "Open Sans", sans-serif;
      color: rgba(90, 102, 120, 0.52);
      text-transform: capitalize; }
      section.right .banner .name .pre {
        font-family: "Open Sans", sans-serif;
        color: #5a6678;
        padding-bottom: 0; }
      section.right .banner .name .cen {
        font-family: "Open Sans", sans-serif;
        color: #5a6678;
        padding-bottom: 0;
        font-weight: bold; }
    section.right .banner .last-updated {
      color: #939ba9; }
      section.right .banner .last-updated b {
        font-weight: 900; }
  section.right .sidebar {
    background: #f0f3f5;
    width: 70px;
    height: 100%;
    position: relative;
    border-right: 1px solid #E3E3E3; }
    section.right .sidebar .icon {
      color: rgba(107, 116, 118, 0.33);
      display: block;
      width: 100%;
      height: 60px;
      font-size: 31px;
      line-height: 60px;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all 250ms ease-in;
      -moz-transition: all 250ms ease-in;
      transition: all 250ms ease-in; }
      section.right .sidebar .icon:first-child {
        margin-top: 0;
        padding-top: 13px;
        height: 85px; }
      section.right .sidebar .icon:hover, section.right .sidebar .icon.active {
        color: #19aac7; }
      section.right .sidebar .icon.active {
        cursor: default; }
      section.right .sidebar .icon.bottom {
        position: absolute;
        bottom: 0; }
    section.right .sidebar .monitor {
      height: 96px;
      width: 100%;
      display: table;
      position: relative; }
      section.right .sidebar .monitor .light {
        height: 24px;
        width: 24px;
        border: 3px solid #62C5CF;
        position: absolute;
        top: 50%;
        margin: -13px auto 0;
        left: 0;
        right: 0;
        border-radius: 100%; }
  section.right .content {
    position: absolute;
    top: 82px;
    left: 70px;
    bottom: 0;
    right: 0;
    background: #FFF; }
    section.right .content .inset {
      overflow: auto;
      height: 100%;
      width: 100%;
      padding: 20px 40px; }
    section.right .content .section {
      margin-bottom: 40px; }
      section.right .content .section h1, section.right .content .section h2, section.right .content .section h3 {
        text-transform: uppercase;
        font-weight: bold; }
      section.right .content .section h1 {
        font-size: 19px; }
      section.right .content .section h2 {
        font-size: 15px; }
    section.right .content .filler {
      height: 20px; }
  section.right .list {
    padding: 0; }
    section.right .list li {
      border-bottom: 1px solid #EDEDED;
      text-align: left;
      padding: 10px 10px 10px 0;
      font-size: 13px;
      list-style: none; }
      section.right .list li .emp {
        font-weight: bold;
        color: #555; }
      section.right .list li .small {
        color: #939393;
        font-size: 11px; }
  section.right .weighted-input {
    display: block;
    background-color: #fff;
    text-align: center;
    border-radius: 2.5px;
    box-shadow: 0 2px 0 0 #bfbfbf;
    cursor: pointer;
    position: relative;
    border: none;
    margin: 10px auto;
    width: 80%;
    left: -20px;
    max-width: 700px;
    padding: 12px 50px 12px 10px; }
    section.right .weighted-input input {
      font-size: 19px;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      text-align: center; }
  section.right .account-wrapper {
    padding: 11px;
    border-top: 1px solid #EEE;
    position: relative;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    transition: all 250ms ease-in; }
    section.right .account-wrapper:hover {
      background: #F2f2f2;
      border-radius: 50px; }
    section.right .account-wrapper:hover + .account-wrapper {
      border-color: transparent; }
    section.right .account-wrapper:first-of-type {
      border-top: none; }
    section.right .account-wrapper .more {
      background: #efc72d;
      font-weight: 600;
      color: #FFF;
      position: absolute;
      text-align: center;
      width: 25px;
      font-size: 13px;
      border-radius: 100%;
      height: 25px;
      line-height: 25px;
      right: 10px;
      top: 15px; }
    section.right .account-wrapper .name {
      font-size: 13px;
      font-weight: normal;
      line-height: 30px; }
    section.right .account-wrapper .pic {
      width: 30px;
      background-size: cover;
      margin-left: 0;
      border-radius: 100%;
      height: 30px; }
  section.right .editable {
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    transition: all 250ms ease-in; }
    section.right .editable[contenteditable="true"]:active, section.right .editable[contenteditable="true"]:focus {
      background: #FFF;
      border: 1px solid #c6cbcd;
      padding: 4px;
      border-radius: 5px;
      outline: none; }

.account {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1c3445;
  background: -moz-radial-gradient(center, ellipse cover, #1b4c6d 0%, #1c3445 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #1b4c6d), color-stop(100%, #1c3445));
  background: -webkit-radial-gradient(center, ellipse cover, #1b4c6d 0%, #1c3445 100%);
  background: -o-radial-gradient(center, ellipse cover, #1b4c6d 0%, #1c3445 100%);
  background: -ms-radial-gradient(center, ellipse cover, #1b4c6d 0%, #1c3445 100%);
  background: radial, ellipse center, #1b4c6d 0%, #1c3445 100%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b4c6d', endColorstr='#1c3445', GradientType=1); }
  .account * {
    font-family: "Open Sans", sans-serif; }
  .account .scroll {
    height: 100%;
    width: 100%;
    overflow-y: auto; }
    .account .scroll .title {
      font-size: 30px;
      font-family: "Open Sans", sans-serif;
      color: #A5D512;
      font-weight: bold;
      margin-bottom: 10px; }
      .account .scroll .title.small {
        font-size: 20px;
        color: #888;
        margin: 0 0 20px;
        font-weight: bold; }
    .account .scroll .description {
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 20px;
      color: #777; }
      .account .scroll .description a {
        text-decoration: none;
        color: #A5D512; }
      .account .scroll .description.center {
        text-align: center; }
      .account .scroll .description.small {
        font-size: 11px !important; }
      .account .scroll .description.large {
        font-size: 15px !important; }
    .account .scroll .divider {
      width: 100%;
      border-bottom: 1px solid #DDD; }
    .account .scroll .floater {
      width: 500px;
      margin: 20px auto 40px;
      padding: 30px;
      background: #fff;
      border-radius: 5px; }
      @media print, screen and (max-width: 720px) {
        .account .scroll .floater {
          width: 100%; } }
      .account .scroll .floater.header {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0; }
    .account .scroll input {
      background: rgba(194, 209, 216, 0.34);
      width: 100%;
      color: #333;
      font-family: "Open Sans", sans-serif;
      outline: none;
      -webkit-transition: all 250ms ease-in;
      -moz-transition: all 250ms ease-in;
      transition: all 250ms ease-in;
      margin: 0 0 10px;
      border: 1px solid rgba(0, 0, 0, 0.11);
      padding: 16px;
      font-size: 14px;
      border-radius: 5px;
      line-height: 1.42857; }
      .account .scroll input:focus {
        border-color: rgba(0, 0, 0, 0.3); }
    .account .scroll .label {
      width: 100%;
      position: relative; }
      .account .scroll .label span {
        padding: 15px;
        color: #8F9193;
        position: absolute;
        font-size: 16px; }
      .account .scroll .label input {
        padding-left: 45px; }
    .account .scroll input.err {
      border-color: red !important;
      color: red !important;
      background: rgba(255, 0, 0, 0.1); }
    .account .scroll button {
      color: #FFF;
      background: #19AAC7;
      width: 100%;
      font-weight: bold;
      margin: 10px auto 20px; }
      .account .scroll button .label {
        font-size: 15px; }

.stats-table {
  width: 100%;
  padding: 20px 10px;
  background: #F8F9FB;
  border-bottom: 1px solid #E6ECF1; }
  .stats-table .cell {
    border-right: 1px solid #CDD6DF; }
    .stats-table .cell:last-child {
      border: none; }
    .stats-table .cell .label {
      padding-left: 40px;
      position: relative; }
      .stats-table .cell .label .icon {
        color: #18A9C3;
        position: absolute;
        top: 5px;
        left: 0;
        font-size: 20px; }
      .stats-table .cell .label .text {
        color: #555;
        text-transform: uppercase;
        font-size: 15px; }
      .stats-table .cell .label .desc {
        color: #999999;
        font-size: 12px; }
    .stats-table .cell .value {
      color: #59676C;
      font-size: 40px;
      font-weight: 100;
      padding: 5px 0; }

.notification-center {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30%;
  z-index: 9999; }
  .notification-center * {
    font-family: "Open Sans", sans-serif;
    color: #777; }
  .notification-center .event {
    background: #FAF9DE;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
    .notification-center .event .status {
      font-size: 14px;
      font-weight: bold; }
    .notification-center .event .msg {
      font-size: 12px; }
