@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/museo-sans-rounded-300.eot');
  src: url('/fonts/museo-sans-rounded-300.eot?#iefix') format('embedded-opentype'), url('/fonts/museo-sans-rounded-300.woff2') format('woff2'), url('/fonts/museo-sans-rounded-300.woff') format('woff'), url('/fonts/museo-sans-rounded-300.ttf') format('truetype'), url('/fonts/museo-sans-rounded-300.svg#museo_sans_rounded500') format('svg');
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/museo-sans-rounded-500.eot');
  src: url('/fonts/museo-sans-rounded-500.eot?#iefix') format('embedded-opentype'), url('/fonts/museo-sans-rounded-500.woff2') format('woff2'), url('/fonts/museo-sans-rounded-500.woff') format('woff'), url('/fonts/museo-sans-rounded-500.ttf') format('truetype'), url('/fonts/museo-sans-rounded-500.svg#museo_sans_rounded500') format('svg');
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/museo-sans-rounded-700.eot');
  src: url('/fonts/museo-sans-rounded-700.eot?#iefix') format('embedded-opentype'), url('/fonts/museo-sans-rounded-700.woff2') format('woff2'), url('/fonts/museo-sans-rounded-700.woff') format('woff'), url('/fonts/museo-sans-rounded-700.ttf') format('truetype'), url('/fonts/museo-sans-rounded-700.svg#museo_sans_rounded500') format('svg');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/museo-sans-rounded-900.eot');
  src: url('/fonts/museo-sans-rounded-900.eot?#iefix') format('embedded-opentype'), url('/fonts/museo-sans-rounded-900.woff2') format('woff2'), url('/fonts/museo-sans-rounded-900.woff') format('woff'), url('/fonts/museo-sans-rounded-900.ttf') format('truetype'), url('/fonts/museo-sans-rounded-900.svg#museo_sans_rounded500') format('svg');
  font-weight: 900;
  font-style: normal; }

body, html {
  background: none;
  margin: 0;
  padding: 0;
  border: none; }

* {
  box-sizing: border-box;
  font-family: "Museo Sans"; }

section.left {
  background: #21252d;
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  bottom: 0; }
  section.left * {
    color: #97a2b1; }
  section.left .header {
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    section.left .header .title {
      font-size: 18px;
      position: relative;
      left: 15px;
      font-weight: 900;
      color: #BAC3D0; }
    section.left .header .message {
      font-size: 12px;
      position: relative;
      left: 15px;
      color: #97a2b1; }
  section.left .locks {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 300; }
    section.left .locks .device {
      padding: 10px 30px; }

section.right {
  position: fixed;
  left: 220px;
  top: 0;
  bottom: 0;
  right: 0;
  background: #f4f5f7; }
  section.right .inner-sidebar {
    background: #2d333d;
    width: 70px;
    height: 100%; }

.active {
  font-weight: bold; }
