.event-flow .event {
  border-bottom: 1px solid #EEE; }
  .event-flow .event .button {
    display: inline-block;
    height: 20px;
    float: right;
    background: rgba(238, 238, 238, 0.33);
    margin: 17px;
    border: 1px solid rgba(45, 51, 61, 0.13);
    border-radius: 28px; }
    .event-flow .event .button .label {
      line-height: 20px;
      font-size: 9px;
      padding: 0 10px;
      color: #999; }
  .event-flow .event:nth-child(even) {
    background: rgba(242, 242, 242, 0.188235); }
  .event-flow .event:last-child {
    border-bottom: none; }
  .event-flow .event .icon, .event-flow .event .info, .event-flow .event .image {
    display: inline-block;
    vertical-align: top; }
  .event-flow .event:hover {
    background: #F0FBFF; }
  .event-flow .event .icon {
    font-size: 18px;
    line-height: 33px;
    color: #999;
    border-radius: 5px;
    height: 33px;
    width: 33px;
    margin: 10px; }
  .event-flow .event .info {
    border-left: 1px solid #EEE;
    padding: 10px; }
    .event-flow .event .info .data-left {
      display: inline-block;
      vertical-align: top; }
    .event-flow .event .info .data-bottom {
      font-size: 10px;
      list-style: none;
      color: #BBB;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
      position: Relative;
      text-align: left;
      top: 1px; }
      .event-flow .event .info .data-bottom span {
        font-family: "Open Sans", sans-serif;
        font-weight: 600; }
      .event-flow .event .info .data-bottom .user {
        font-weight: bold;
        border-bottom: 1px dotted; }
        .event-flow .event .info .data-bottom .user:before {
          content: '@'; }
  .event-flow .event .data-right {
    display: inline-block;
    vertical-align: top; }
    .event-flow .event .data-right .data-top {
      font-size: 14px;
      line-height: 1.42857;
      color: #3F3F44; }
      .event-flow .event .data-right .data-top .text {
        font-weight: 600;
        font-size: 13px;
        color: #7C7C7C; }
        .event-flow .event .data-right .data-top .text:first-letter {
          text-transform: capitalize; }
      .event-flow .event .data-right .data-top .user {
        color: #FFF;
        font-weight: bold;
        padding: 1px 4px 1px 4px;
        font-size: 10px;
        border-radius: 2px;
        margin-right: 4px;
        display: inline-block;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif; }
        .event-flow .event .data-right .data-top .user.blue {
          background: rgba(100, 194, 222, 0.06);
          border: 1px solid #64c2de;
          color: #64c2de; }
        .event-flow .event .data-right .data-top .user.green {
          background: #b3d227; }
        .event-flow .event .data-right .data-top .user.yellow {
          background: #F8CB00; }
        .event-flow .event .data-right .data-top .user.red {
          background: #E9545A; }
        .event-flow .event .data-right .data-top .user.teal {
          background: #45B794; }
      .event-flow .event .data-right .data-top .data-bottom {
        font-size: 11px;
        list-style: none;
        color: #C0C0C0;
        font-weight: 400;
        position: Relative; }
