ul.list li {
  border-bottom: 1px solid #EDEDED;
  text-align: left;
  padding: 10px;
  font-size: 13px; }
  ul.list li .icon {
    font-size: 18px;
    line-height: 33px;
    color: #999;
    border-radius: 5px;
    height: 33px;
    width: 33px;
    margin: 10px; }
